/*
https://coolors.co/1b1b1e-1098f7-edf2f4-b89e97-decccc
1b1b1e- eerie black
1098f7- dodger blue
edf2f4- anti-flash white
b89e97- tuscany
decccc- dust storm

*/
@import url('https://fonts.googleapis.com/css?family=Noticia+Text');


* { font-family: 'Noticia Text', serif; color: #1b1b1e; }

html { background-color: #1b1b1e; }

body { width: 90%; margin: auto; }

header, footer {
    padding: 1em 0;
    background-color: #decccc;
    text-align: center;
    border-radius: 5px;
}

.project {
    background-color: #edf2f4;
    border-radius: 5px;
    border: 1px solid #1b1b1e;
}

main {
    padding: 1em 0;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.title {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    /*background-color: #1b1b1e;*/
    /*color: #1098f7;*/
    border-bottom: 2px solid #1b1b1e;
}

.description { padding: 1em; }
